---
import Layout from '../layouts/Layout.astro';
import { Separator } from "@/components/ui/separator";
import HomeComponent from '@/components/HomeComponent.astro';
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
	<main class="bg-[#09090b] h-screen w-screen">
		<div
        class="absolute left-0 top-0 z-10 h-screen w-screen"
      />
      <div class="h-screen items-center justify-center font-custom2 text-white md:flex-col lg:mx-16 lg:flex lg:flex-row xl:mx-40 2xl:mx-80">
        <nav class="block h-fit w-screen p-8 lg:w-1/5 2xl:w-2/5">
          <ul class="flex select-none justify-center gap-x-8 text-xl tracking-tight sm:gap-x-16 sm:text-2xl lg:flex-col lg:items-end lg:text-3xl">
            <li
              class="z-50 cursor-pointer"
            >
              <a>Home</a>
            </li>
            <li
              class="line-through"
            >
              <a>About</a>
            </li>
            <li
              class="line-through"
            >
              <a>Notes</a>
            </li>
            <li
              class="line-through"
            >
              <a>
                Projects
              </a>
            </li>
          </ul>
        </nav>

        <div class="hidden h-dvh lg:flex lg:items-center *:opacity-15">
          <Separator orientation="vertical" className="h-1/5" />
        </div>

        <main class="flex w-screen items-center justify-center p-6 font-custom2 text-xl lg:h-dvh lg:w-4/5">
          <div class="w-full">
            <div class="relative w-full">
                <!-- {activePage === "Home" && (
                  <div key="home">
                    <HomeComponent />
                  </div>
                )} -->
				<HomeComponent />
                {/* {activePage === "About" && (
                  <div key="about">
                    <AboutComponent />
                  </div>
                )}
                {activePage === "Projects" && (
                  <div key="projects">
                    <ProjectsComponent />
                  </div>
                )} */}
            </div>
          </div>
        </main>
      </div>

      <div class="absolute left-0 top-0 hidden h-screen w-screen select-none overflow-hidden lg:block">
        <div class="relative h-screen w-screen">
          <div
            class="absolute left-0 top-0 h-screen w-screen"
            style={{
              backgroundImage: `radial-gradient(rgba(255, 255, 255, 0.7) 4%, transparent 4%)`,
              backgroundSize: "3vmin 3vmin",
              maskMode: "alpha",
              maskImage: `url(radialmask.svg)`,
              maskPosition: "50% 50%",
              maskRepeat: "no-repeat",
              maskSize: "100% 100%",
              opacity: 0,
              transition: "opacity 0.2s ease-in-out",
            }}
          />
          <div
            class="absolute left-0 top-0 h-screen w-screen"
            style={{
              backgroundImage: `radial-gradient(rgba(255, 255, 255, 0.05) 4%, transparent 4%)`,
              backgroundSize: "3vmin 3vmin",
            }}
          />
        </div>
      </div>
	</main>
</Layout>

<!-- <style>
</style> -->
