@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass.ttf");
  }

  @font-face {
    font-family: "Overpass Mono";
    src: url("../fonts/OverpassMono.ttf");
  }
}

:root {
  --background: #f9f8f6;
  --foreground: #1d1e20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1e20;
    --foreground: #f9f8f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
