@import "tailwindcss";

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

@theme {
  --font-DMSans: DMSans, sans-serif;
  --font-DMMono: DMMono, monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  @font-face {
    font-family: "DMSans";
    src: url("../fonts/DMSans.ttf");
  }

  @font-face {
    font-family: "DMMono";
    src: url("../fonts/DMMono.ttf");
  }
}
