---
import { SmallGithubIcon, SmallLinkedinIcon, SmallGmailIcon, TinyStarIcon } from "@/icons/dev-icons";
import { Card, CardContent } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import { HoverCardComponent } from "@/components/HoverCardComponent";

---

<div>
      <div class="px-2 py-6 select-none">
        <h1 class="text-xl font-light tracking-wide xs:text-2xl sm:text-3xl">
          Hi, I'm <span class="">Filip</span>, a self-taught front-end
          developer from Poland. I mainly work with <span class="text-green-500">React</span>, <span class="text-pink-500">NextJS</span>, <span class="dark:text-blue-200 text-blue-500">TailwindCSS</span>, <span class="text-blue-600">TypeScript</span>, and relational
          databases like <span class="text-orange-400">SQLite</span>.
        </h1>
      </div>

      <div class="px-2 *:opacity-15">
        <Separator />
      </div>

      <div class="px-2 py-6">
        <h2 class="py-2 text-lg underline underline-offset-4 xs:text-xl">
          Links
        </h2>

        <div class="flex flex-col fill-white/50 font-custom3 dark:text-white/50 *:flex *:cursor-pointer *:justify-between *:text-xs *:font-light *:tracking-wide *:xs:text-sm *:sm:text-base">
          <div
            class="group/github z-50 transition-colors duration-200 hover:text-black dark:hover:text-white"
          >
            <a href="https://github.com/Filipsys" target="_blank">
              github.com/Filipsys
            </a>

            <div class="flex items-center gap-2">
              <p class="hidden xs:block">Github</p>
              <div class="size-4 duration-200 dark:fill-white/50 dark:group-hover/github:fill-white fill-black">
                <SmallGithubIcon />
              </div>
            </div>
          </div>
          <div
            class="group/linkedin z-50 py-1 transition-colors duration-200 hover:text-[#0A66C2] xs:p-0"
          >
            <a href="https://linkedin.com/in/filipsysak" target="_blank">
              linkedin.com/in/filipsysak
            </a>
            <div class="flex items-center gap-2">
              <p class="hidden xs:block">LinkedIn</p>
              <div class="size-4 duration-200 dark:fill-white/50 dark:group-hover/linkedin:fill-[#0A66C2] fill-black">
                <SmallLinkedinIcon />
              </div>
            </div>
          </div>
          <div
            class="group/email z-50 transition-colors duration-200 hover:text-[#EA4335]"
          >
            <a href="mailto:quietus.fits_0p@icloud.com">quietus.fits_0p@icloud.com</a>

            <div class="flex items-center gap-2">
              <p class="hidden xs:block">Email</p>
              <div class="size-4 duration-200 dark:fill-white/50 dark:group-hover/email:fill-[#EA4335] fill-black">
                <SmallGmailIcon />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="z-50 px-2">
        <div class="flex items-center">
          <h2 class="py-2 text-lg underline underline-offset-4 xs:text-xl">
            Tech I know and use
          </h2>

          <div class="z-50 mb-auto px-1 py-2">
            <HoverCardComponent client:load />
          </div>
        </div>

        <div class="mb-8 grid w-full grid-cols-1 gap-3 text-black/50 dark:text-white/50 sm:grid-cols-3 md:grid-cols-4 lg:mb-0">
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
            <div class="h-16 w-full bg-white/10 rounded-md border-white/10 border-2 flex items-center">
                <p>TypeScript</p>
            </div>
        </div>

        <div class="block sm:hidden">
          <p class="p-3 text-center text-xs dark:text-white/50 text-black/50">
            * The stars indicate my level of proficiency in each technology.
          </p>
        </div>
      </div>
    </div>
