---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Basic portfolio website about myself and my projects." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Filip Sysak" />
		<meta name="keywords" content="filipsysak, filipsys, filip, filipsysak.vercel.app, portfolio, website, personal, portfolio website" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="filipsysak.vercel.app" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://filipsysak.vercel.app" />
		<meta property="og:description" content="Basic portfolio website about myself and my projects." />
		<meta property="og:site_name" content="filipsysak.vercel.app" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
